@font-face {
  font-family: 'med';
  src: url('../public/NeueHaasGrotDisp-65Medium-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../public/NeueHaasGrotDisp-75Bold-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bb';
  src: url('../public/NeueHaasGrotDisp-95Black-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html{
    font-family: 'med', sans-serif;
    color:white;
    padding:0px;
    
}
.hpbd {
  background-image: url('../public/Group 65.png');
  background-repeat: no-repeat;
  background-size: 100%;  
  background-position-x: center;   
  background-position-y:5%;  
    /*zoom out */
  /* background-position: center;  */
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-right:115px;    
  list-style-type: none;
}

nav img {
    margin-left:15px;
  height: auto;
  margin-right: 700px;
}
li{
    color:#9FC3DB;
    font-size:1.5rem;
      margin-top: 20px;

}
.title h1{
    font-family: 'bold', sans-serif;
    font-size:10rem;
    opacity:50%;
    color:#F2D0D0;
    letter-spacing: 0.06em;
    margin-bottom:0px;
    padding-bottom:0px;
}

.title{
    position: relative;
    z-index:2;
    margin-left: 220px;
    margin-top: 100px;

}
.o{
    opacity:0%;
}
.title p{
    margin-top:0px;
    font-family: 'med', sans-serif;
    font-size: 1.5rem;
    opacity:50%;
    color:#F2D0D0;
    padding-left:10px;
}
nav a{
    /* color:#9FC3DB; */
    text-decoration: none;
}
nav a:hover{
    color:#b4defa; 
}
.book-button {
  
  background: #eac1c7;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size:10rem;
  cursor: pointer;
  color: #1a1a1a;
  transition: 0.3s ease;
    margin-left: 15vw;
    margin-top: 5px;

}

.book-button:hover {
  background: #f1d3d9;
}

.book-button a{
  text-decoration: none;
  color: #1a1a1a;
}
